<p>Hey <%= names %>,</p>
<p>Vous venez d'effectuer une reservation pour le match de <%= date %></p>

<p>Merci de montrer ce code a la reception le jour de la rencontre ( match):</p>
<div>
  <h2><%= code_ticket %></h2>
</div>

<p>Merci de nous avoir fait conficance.</p>
